@import '../../../assets/scss/vars';

.article__header h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $secondColor;
    overflow-wrap: anywhere;
    text-align: justify;
}
.article__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
    column-gap: 30px;

    @media (max-width: $mobileWidth) {
        flex-direction: column-reverse;
        row-gap: 20px;
    }
}
.article__header--preview > div {
    max-height: 75%;
}
.article__header {
    & > div, & > section {
    flex: 1;
    }
}
.article__header > div:first-of-type {
    max-width: calc(65% - 15px);

    @media (max-width: $mobileWidth) {
        max-width: none;
    }
}
.article__header > div:last-of-type {
    max-width: calc(35% - 15px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    row-gap: 1.25rem;

    @media (max-width: $mobileWidth) {
        max-width: none;
        align-items: stretch;
    }
}
.article__titleWrap {
    display: flex;
    column-gap: 13px;
    align-items: center;
    margin-bottom: 4px;
}
.article__titleWrap > span {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
}
.article__tags > span {
    color: $thirdFontColor;
    border-color: $thirdFontColor;
    line-height: 1.5em;
    max-width: 100%;
    overflow-wrap: anywhere;
    white-space: pre-line;
}