$mainFont: 'Inter', sans-serif;

$backColor: #E5E5E5;
$mainColor: #FFFFFF;
$secondColor: #1890FF;
$thirdColor: #52C41A;
$alertColor: #F5222D;

$mainFontColor: rgba(0, 0, 0, 0.75);
$secondFontColor: rgba(0, 0, 0, 0.85);
$thirdFontColor: rgba(0, 0, 0, 0.5);

$desctopWidth: 938px;
$mobileWidth: 320px;