@import '../../assets/scss/vars';

.article {
    background-color: $mainColor;
    padding: 15px 16px;
    font-size: 0.75rem;
    line-height: 1.375rem;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}
.article--clickable {
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        box-shadow: 0 1px 2px -2px rgba(0,0,0,.16),
            0 3px 6px 0 rgba(0,0,0,.12),
            0 5px 12px 4px rgba(0,0,0,.09);
        transition: box-shadow .2s;
    }
}
.article__header h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: $secondColor;
}
.article__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4px;
}
.article__header > div {
    max-height: 75%;
}
.article__titleWrap {
    display: flex;
    column-gap: 13px;
    align-items: center;
    margin-bottom: 4px;
}
.article__titleWrap > span {
    display: inline-flex;
    align-items: center;
    column-gap: 5px;
}
.article__tags > span {
    color: $thirdFontColor;
    border-color: $thirdFontColor;
    line-height: 1.5em;
}
.article__description {
    color: $thirdFontColor;
}