@import '../../assets/scss/vars';

.alert {
    *::first-letter {
        text-transform: uppercase;
    }
}
.alert--action {
    flex-direction: column;
}
.alert--action a {
    &, &:visited {
        color: $secondColor;
    }
}