@import '../../assets/scss/vars';

.appHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $mainColor;
    padding: 13px 22px;
}
.appHeader__logo {
    font-size: 1.125rem;
    line-height: 1.75rem;
    height: min-content;
    text-transform: capitalize;
    cursor: pointer;

    &, &:hover, &:visited:hover {
        color: $mainFontColor;
    }
}