@import '../../assets/scss/vars';

.login {
    display: flex;
    font-size: 1.125rem;
    line-height: 1.75rem;
    align-items: center;
    column-gap: 27px;
}
.login > span {
    text-transform: capitalize;
    cursor: pointer;
}
.login > span:hover {
    color: $secondColor;
}
.login > button {
    font-size: inherit;
    line-height: inherit;
}